==========================================

Sistema Operativo y Editores / IDEs

==========================================

macOS

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

Windows

Thumbs.db
ehthumbs.db
Desktop.ini

Linux

*~

IDEs y Editores de código

.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
*.swo

Archivos de entorno y logs generales

.log
.env
.env.
!.env.example
!.env.template

==========================================

Node.js / JavaScript / TypeScript

==========================================

node_modules/
jspm_packages/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.npm/
.eslintcache
.node_repl_history
dist/
build/

==========================================

React Native

==========================================

Expo

.expo/
.expo-shared/
web-build/

Metro y Cache

.metro-health-check*
*.jsbundle

Archivos nativos generados

ios/Pods/
ios/build/
ios/DerivedData/
android/app/build/
android/.gradle/

Fastlane

fastlane/report.xml
fastlane/Preview.html

==========================================

Kotlin / Gradle / Android

==========================================

.gradle/
build/
/build/
captures/
.externalNativeBuild/
.cxx/
local.properties

Firma de APKs / Claves (Seguridad)

*.keystore
*.jks
*.p12
*.pem

Binarios de Android

*.apk
*.aab
*.aar

==========================================

Dart & Flutter

==========================================

.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.generated/

Archivos generados en iOS (Flutter)

ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flttmp
ios/Flutter/ephemeral/

Archivos generados en Android / Web / Desktop (Flutter)

android/app/src/main/java/io/flutter/plugins/
lib/generated_plugin_registrant.dart
ephemeral/